/*
!/.gitignore-global
!/.gitconfig
!/.gitattributes
!/bin/
/bin/*
!/bin/diff-so-fancy
!/bin/status_bar
!/bin/status_bar.d/
!/bin/vol-control
!/bin/omgomgomg
!/bin/lock
!/bin/lock.png
!/bin/tmux-color
!/.config/
/.config/*
!/.fonts/
!/.i3/
!/.i3status.conf
!/.vimrc
!/.gvimrc
!/.vim/
!/.vim/colors/
/.vim/.netrwhist
/.vim/init.vim
!/.config/rofi/
!/.config/dunst/
!/.config/gtk-3.0/
/.config/gtk-3.0/*
!/.config/gtk-3.0/settings.ini
!/.config/xfce4/
/.config/xfce4/*
!/.config/xfce4/xfconf/
/.config/xfce4/xfconf/*
!/.config/xfce4/xfconf/xfce-perchannel-xml/
/.config/xfce4/xfconf/xfce-perchannel-xml/*
!/.config/xfce4/xfconf/xfce-perchannel-xml/xsettings.xml
!/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-keyboard-shortcuts.xml
!/.config/xfce4/terminal/
/.config/xfce4/terminal/*
!/.config/xfce4/terminal/terminalrc
!/.config/xfce4/terminal/accels.scm
!/.tmux.conf
