[user]
    email = admin@hxv.me
    name = Michał Włodarczyk
[alias]
    s = status -u
    debug-ssh = -c core.sshCommand=\"ssh -vvv\" fetch
    add-deleted = "!f() { git status -uno --porcelain=2 | grep -P '^1 \\.D' | cut -d ' ' -f 9- | xargs -I {} git add {}; }; f"
    b = rev-parse --abbrev-ref HEAD
[push]
    default = current
[pull]
    rebase = true
[diff]
    compactionHeuristic = true
    renamelimit = 999999
    colorMoved = plain
[rerere]
    enabled = true
[merge]
    ff = false
    renamelimit = 999999
    lineNumber = true
    conflictstyle = diff3
[grep]
    patternType = perl
    lineNumber = true
[color "grep"]
    linenumber = green
    match = yellow bold
    filename = magenta
[color "diff"]
    newMoved = "#666512"
    oldMoved = "#8c1712"
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[interactive]
    diffFilter = diff-highlight
[advice]
    statusHints = false
[core]
    excludesfile = ~/.gitignore-global
[color]
    ui = true
[color "diff-highlight"]
    oldNormal = "red black"
    oldHighlight = "black red"
    newNormal = "green black"
    newHighlight = "black green"
[rebase]
    autoSquash = true
    autoStash = true
[commit]
    gpgSign = true
[log]
    date=iso8601
[gpg]
	program = gpg2
